<div class="container-fluid">
    <div class="jumbotron">
        <div style="text-align:center">
            <h1>Music App 2017</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 panel-primary" style="text-align:center" [routerLinkActive]="['link-active']" [routerLink]="['/albumlist']">
            <div class="panel-heading">
                <span class='glyphicon glyphicon-folder-open'></span>
                <div class="panel-title" >Albums</div>
                <div class="panel-body" *ngIf="albums">
                    <span>{{albums.length}}</span>
                </div>
                
            </div>
        </div>
        <div class="col-md-4 panel-success" style="text-align:center" [routerLinkActive]="['link-active']" [routerLink]="['/artistlist']">
            <div class="panel-heading">
                <span class='glyphicon glyphicon-user'></span>
                <div class="panel-title">Artists </div>
                <div class="panel-body" *ngIf="artists">
                    <span>{{artists.length}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 panel-info" style="text-align:center" [routerLinkActive]="['link-active']" [routerLink]="['/genrelist']">
            <div class="panel-heading">
                <span class='glyphicon glyphicon-music'></span>
                <div class="panel-title">Genres</div>
                <div class="panel-body" *ngIf="genres">
                    <span>{{genres.length}}</span>
                </div>
            </div>
        </div>
        
    </div>
</div>


