<h1>Genre List</h1>
<p *ngIf="!genres"><em>Loading genres...</em></p>
<div class="form-group has-feedback">
    <label class="control-label">Search:</label>
    <input #input placeholder="Start typing..." id="search" class="form-control">
    <i class="glyphicon glyphicon-search form-control-feedback"></i>

</div>
<table class='table' *ngIf="genres">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let genre of genres | searchPipeGenre: input.value">
            <td>{{genre.name}}</td>
        </tr>
    </tbody>
</table>